@font-face {
    font-family: "8bit";
    src: url("/font/PressStart2P.ttf") format("truetype");
}

.customfont { 
    font-family: "8bit", Verdana, Tahoma;
}

.titlescreen {
    background: #020aa3;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    
}
.titlescreen div.title{
    font-size: 4em;
    margin-top: 25%;
}

.titlescreen p {
    margin-top: 40%;
    height: 3em;
}

body{
    background: #AAAAAA;
}

#popnewgame {
    margin-top: 15%;
    text-align: center;
}